body{
    margin: 0;
    padding: 0;
}
.div1{
    display: inline;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}
.div2{
    display: inline;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}
.image{
   
    
    
    background-size: contain;
    width:300px;
    height: 250px;
    background-size: cover;
    text-align: center;
    float: left;
    margin-left: 5%;
    display: flex;
    justify-content: space-around;
   
}
 .image > .bottom {
     color: aliceblue;
     position: relative;
     top:150px;
 }
 
 button{
    cursor: pointer;
 }
 button:nth-of-type(2n):hover{
     background-color: red;
 }
 button:nth-of-type(2n+1):hover{
    background-color: black;
    color: aliceblue;
}

span:nth-of-type(2n){
    color:red;
}

