h1{
    text-align: center;
    margin-top: 20px;
    text-decoration-line: underline;
    
}
body{
    margin: 0px;
    /* background-color: rgb(133, 108, 76); */
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(100,177,194,1) 52%, rgba(158,158,162,1) 92%);
}
img{
    width: 180px;
    height: 140px;
    /* margin-left: 30px; */
    /* margin-bottom: 30px; */
    max-width: 280px;
    border-radius: 20%;
    gap: 20px;
    text-align: left;
    
    
}
.container1{
    justify-content: space-around;
    justify-content: flex-start;
    
    display: flex; 
    /* text-align: left; */
    flex-wrap: wrap;
    flex-direction: row;    
    margin-left: 20px ; 
    gap: 20px;
    /* margin-left: 2 */
    /* flex-direction:     // */
    
}
/* .container2{
    justify-content: space-evenly;
    display: flex; 
    flex-wrap: wrap;
    flex-direction: row;
}
.container3{
    justify-content: space-between;
    display: flex; 
    flex-wrap: wrap;
    flex-direction: row; */

